<mat-toolbar class="toolbar" color="primary">
    <a mat-button routerLink="/"><h1>BACKOFFICE</h1></a>
    <div>
        <a class="hover" mat-button routerLinkActive="activebutton" routerLink="/routes">ROUTES</a>  
        <a class="hover" mat-button routerLinkActive="activebutton" routerLink="/users">USERS</a>
        <a class="hover" mat-button routerLinkActive="activebutton" routerLink="/bookings">BOOKINGS</a>  
    </div>
    <div class="signIn">
        <a *ngIf="user; else elseBlock" class="hover" mat-button>{{user.name}}</a>
        <ng-template #elseBlock>
            <a class="hover" mat-button routerLink="login">SIGN IN</a>
        </ng-template>
    </div>
</mat-toolbar>

