<div class="booking">
    <mat-card class="card">
        <mat-card-header style="justify-content: center;">
           <mat-card-title>BOOKING INFORMATION</mat-card-title>
        </mat-card-header>
        <div class="divider"></div>
        <mat-card-content>
            <div class="container">
                <h2>General Information</h2> 
                <div class="content">
                    <h4>Booking ID: {{booking._id}}</h4>
                    <h4>Price: {{booking.price}}</h4>
                </div>
            </div>
            <div class="container">
                <div class="header"><mat-icon class="icon">perm_identity</mat-icon><h2 class="title">User Information</h2></div> 
                <div class="content">
                    <h4>User ID: {{booking.user._id}}</h4>
                    <h4>User name: {{booking.user.name}}</h4>
                    <h4>User mail: {{booking.user.email}}</h4>
                </div>
            </div>
            <div class="container">
                <div class="header"><mat-icon class="icon"> directions_car</mat-icon><h2 class="title">Route Information</h2> </div>
                <div class="content">
                    <h4>Route ID: {{booking.route._id}}</h4>
                    <h4>Route name: {{booking.route.name}}</h4>
                    <h4>Date Of Beggining: {{booking.route.dateOfBeggining}}</h4>
                    <h4>Creator User: {{booking.route.creator.name}}</h4>
                    <h4>Start point of route: {{booking.route.startPoint}}</h4>
                    <h4>End point of route {{booking.selectedStopPoint}}</h4>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions style="margin: 10px;">
            <button mat-raised-button color="warn" (click)="delete()">delete</button>
            <button mat-raised-button color="primary" [routerLink]="['edit']">edit</button>
        </mat-card-actions>
    </mat-card>
</div>
