<!-- <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select formControlName="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </p>
    <p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!bookingForm.valid">Submit</button>
    </p>
  
  </form> -->
  
