<div class="mainroutes">
    
    <div class="body">
        <a class="card" routerLink = "/formroutes">
            <mat-card class="card-element" routerLink = "/formroutes" >
                <mat-card-title class="card-hader">ADD ROUTE</mat-card-title>
                <div class="divider"></div>
                <mat-card-content>Add a new route to the list</mat-card-content>
            </mat-card>
        </a>
        <a class="card" routerLink = "/routes">
            <mat-card class="card-element" routerLink = "/routes">
                <mat-card-title class="card-hader">GET ALL ROUTES</mat-card-title>
                <div class="divider"></div>
                <mat-card-content >Get a list of all routes and all the tools to manage them</mat-card-content>
            </mat-card>
        </a>
        
    </div>
</div>
