<div class="main-content">
    <div class="header">
        <div class="header-content">
            <h1>HULAHULA Backoffice</h1>
        </div>
    </div>
    <div class="body">
        <a class="card" routerLink = "users">
            <mat-card class="card-element" >
                <mat-card-title class="card-hader">USERS</mat-card-title>
                <div class="divider"></div>
                <mat-card-content>Get a list of users and all the tools to manage them</mat-card-content>
            </mat-card>
        </a>
        <a class="card" routerLink = "routes">
            <mat-card class="card-element" routerLink = "routes">
                <mat-card-title class="card-hader">ROUTES</mat-card-title>
                <div class="divider"></div>
                <mat-card-content >Get a list of routes and all the tools to manage them</mat-card-content>
            </mat-card>
        </a>
        <a class="card" routerLink = "bookings">
            <mat-card class="card-element" routerLink = "bookings">
                <mat-card-title>BOOKINGS</mat-card-title>
                <div class="divider"></div>
                <mat-card-content>Get a list of bookings and all the tools to manage them</mat-card-content>
            </mat-card>
        </a>
    </div>
</div>

